body{
    font-family: 'S-CoreDream-3Light';
    font-size: 12px;
    min-width: 1200px;
}
/* common */
.clear::after{
    display: block;
    content: "";
    clear:both;
}
.left{float: left;}
.right{float: right;}

/* style */
.header{
    position: fixed;
    top:0; left:0;
    width: 100%; height: 80px;
    transition: 0.3s;
    z-index: 9;
    background: rgba(255,255,255,0.8);
    backdrop-filter: saturate(180%) blur(2px);
    -webkit-backdrop-filter: saturate(180%) blur(2px);    
}
.header.hide{
    top: -80px; 
}
.header h1{
    width: 120px; 
    position: absolute;
    top: 0; left:40px;
}
.header h1 a img{
    width: 100%;
}
.header .gnb{
    position: absolute;
    top:50%; right:40px;
    transform: translateY(-50%);
    color:#000;
    width: 530px;
}
.header .gnb li{
    float: left;
    padding-left: 50px;
    line-height: 40px;
}
.header .gnb li a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    font-weight: 800;
    font-family:'lush';
}
.header .gnb li:last-child a{
    background: #000;
    display: inline-block;
    vertical-align: top;
    padding: 0 22px;
    font-size: .75rem;
    color:#fff;
    transition:.5s;
}
.header .gnb li:last-child a:hover{
    /*background:#ff5100 ;*/
    background: #fff;
    color:#000;
}
.container{
    background: #EFEDEA;
}
.most_popular{
    background: #000;
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    font-style:italic;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    z-index: 1;
    font-family: 'Lush';
}
.most_popular div{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    line-height: 1.5;
}

.main_vis{
    height: 100vh;/*현재 보이는 화면기준에서 height 100%개념*/
    background: #ccc;
}
.main_vis video{
    width: 100%; height: 100%;
    object-fit: cover;
}
.main_vis h2{
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 5vw;
    font-weight: 800;
    color:#fff;
    width: 100%;
    font-family:'Lush'; 
}
.main_vis h2 span{
    display: block;
    position: relative;
    overflow: hidden;
    height: 9vw;
    line-height: 1.3;
}
.main_vis h2 span i{
    position: absolute;
    bottom: -100%; left:0;
    width: 100%;
}
.intro_wrap01{
    background: #EFEDEA;
    padding: 7rem 7rem 0 7rem; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    max-width: 1650px;
    margin: 0 auto;
}
.intro_wrap01 .left_area{
    width: 58%;
    line-height: 1.2;
    margin-top:30px;
}
.intro_wrap01 .left_area p{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Lush';
}
.intro_wrap01 .left_area span{
    display: block;
    font-size: .9rem;
    font-weight: 600;
    color:#6176ab;
    margin:22px 0;
}
.intro_wrap01 .left_area span em{
    font-style: italic;
    font-weight:600;
    color:#4361ae;
    font-size: .8rem;
}
.intro_wrap01 .left_area ul{
    margin-top: 3rem;
    margin-bottom:4rem;
}
.intro_wrap01 .left_area ul li{
    float: left;
    width: 150px; height: 200px; 
    margin-right: 0.8rem;
    position: relative;
    padding-bottom:26%;
    overflow: hidden;
}
.intro_wrap01 .left_area ul li img{
    width: 100%;
    position: absolute;
    top:0; left:0;
    object-fit: cover;
    transform: scale(5);
}
.intro_wrap01 .left_area strong{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
    line-height: 1.4;
    font-style: italic;
}
.intro_wrap01 .left_area strong em{
    font-weight: 600;
}
.intro_wrap01 .right_area{
    width: 42%;
    padding: 2rem 1rem 2rem 2rem;
}
.intro_wrap01 .right_area .img_wrap{
    height: 530px;
    overflow: hidden;
}
.intro_wrap01 .right_area .img_wrap img{
    width: 100%; height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    
}
.intro_wrap02{
    background: #efedea;
    padding: 8rem 3rem 9rem;
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
}
.intro_wrap02 .most_popular{
    top:5rem; left:8rem;
    color:#fff;
}
.intro_wrap02 .left_area{
    max-width: 58%;
    margin-left: 130px;
    z-index: 1;
}

.intro_wrap02 .left_area img{
    width: 100%; height: 100%;
    object-fit: cover;
}
.intro_wrap02 .right_area{
    width: 42%;
    margin-right: 100px;
    margin-top: 10px;
}
.intro_wrap02 .right_area ul li{
    margin-bottom: 3rem;
}
.intro_wrap02 .right_area span{
    display: block;
    color:#ff5100;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1.3rem; 
}
.intro_wrap02 .right_area p{
    font-size:1.4rem;
    font-weight: 500;
    line-height: 1.3;
    font-style: italic;
}
.intro_wrap02 .right_area p em{
    font-weight: 600;
}
.service_wrap{
    background-image: url(http://img.lush.co.kr/product/perfume/bigbodyspray_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 100vh;
    position: relative;
    background-size: cover;
}
.service_wrap .content_area{
    background: rgba(0,0,0,.4);
    position: absolute;
    top:0; left:0;
    
    z-index: 1;
    width: 100%; height: 100%;
}
.service_wrap .content_area .txt_box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.service_wrap h2{
    font-size: 2.7rem;
    font-weight: 600;
    opacity: .7;
    line-height: 1.2;
    font-family: 'Lush';
}
.service_wrap h2 span{
    display: block;
    font-size: 1rem;
    margin-top: 20px;
}
.service_wrap strong{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    margin: 80px 0;
    display: block;
}
.service_wrap p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    opacity: .6;
    margin-bottom: 80px;
    font-style: italic;
    
}
.service_wrap .more_btn{
    display:inline-block;
    margin: auto;
    border-bottom: 2px solid #fff;
    text-align: center;
    line-height: 35px;
    font-size: 13.5px;
    font-weight: 500;
    font-style: italic;
    transition:2s;
}
.service_wrap .more_btn:hover{
    border-bottom: 0;
}

.prd_list{
    padding: 7rem 7rem 5.7rem;
    position: relative;
}
.prd_list h2{
    padding: 1rem;
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    font-family: 'Lush';
    margin-bottom: 2rem;
}
.prd_list li{
    float: left;
    width: 33.33%;
    padding:1.5rem;
}
.prd_list li a{
    display: block;
    width: 100%;
    position: relative;
}
.prd_list li .img_wrap{
    position: relative;
    padding-bottom: 120%;
    overflow: hidden;
}
.prd_list li a img{
    width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    top:0; left:0;
    transition:0.5s;
}
.prd_list li:hover img{
    transform: scale(1.1);
}
.prd_list .txt_wrap{
    padding: 3rem 0;
}
.prd_list .txt_wrap a{
    display: block;
    width: 100%;
}
.prd_list .txt_wrap .left{
    width: 70%;
}
.prd_list .txt_wrap .right{
    display: block;
}
.prd_list .txt_wrap strong{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
}
.prd_list .txt_wrap p{
    font-size: .9rem;
    font-weight: 500;
    color:#000;
    opacity: .6;
    padding: 10px 0;
}
.prd_list .txt_wrap div{
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.4; 
}
.prd_list .txt_wrap span{
    display: block;
    width: 30%;
    text-align: right;
    font-size: .9rem;
    font-weight: 500;
    color:#000;
}

.prd_wrap01{background: #efedea;}
.prd_wrap01 .img_wrap{
    position: relative;
}
.prd_wrap01 .most_popular{
    bottom:-35px; right:-25px;
    color:#fff;
}

.prd_wrap02{
    background:#a766af;
    /*background: #9e43a8;
    background: #7D3984;
    background: #903D99;*/
    color:#fff;
}
.prd_wrap02 .subtitle{
    display: block;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    opacity: .9;
}
.prd_wrap02 .txt_wrap p{
    color:#fff;
    opacity: .7;
}
.prd_wrap02 .txt_wrap span{
    color:#fff;
}
.prd_wrap02 .more_btn{
    display:block;
    width: 128px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding: .5px;
}
.prd_wrap02 .most_popular{
    bottom:-35px; right:-25px;
    color:#fff;
}

.join_us{
    /*#ff5100*/
    background: #efedea; ;
    color:#000;
    padding:7rem 0 ;
    font-weight: 600;
}
.join_us .txt_area01{
    text-align: center;
    border-bottom: 1.5px solid rgba(0,0,0,.1);
}
.join_us .txt_area01 strong{
    display: block;
    font-size: 3.2rem;
    line-height: 1.45;
    margin-bottom: 4rem;
    font-family: 'Lush';
}
.join_us .txt_area01 strong em{
    display: block;
    font-size: 2rem;
}
.join_us .txt_area01 span{
    display: block;
    font-size: 1.15rem;
    margin-bottom: 4rem;
    font-style: italic;
}
.join_us .txt_area01 p{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.7;
    opacity: .8;
    margin-bottom:7rem;
    font-family: 'S-CoreDream-3Light';
    font-weight: 500;
}
.join_us .txt_area02{
    padding-top:4rem ;
    position: relative;
}
.join_us .txt_area02 .plus{
    text-align: center;
    position: absolute;
    top:5.7; left:50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
}
.join_us .txt_area02 .plus>p{
    width: 35px; height: 7px;
    background:rgba(0,0,0,.7);
    text-indent: -99999px;
}
.join_us .txt_area02 .plus .hr{transform: translateY(7px);}
.join_us .txt_area02 .plus .vt{transform: rotate(90deg);}

.join_us .txt_area02{text-align: center;}
.join_us .txt_area02>p{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
    width: 100%;
    margin: 5.7rem auto 3rem;
    text-align: center;    
}
.join_us .txt_area02>span{
    display: block;
    font-size: 1.35rem;
    margin:0 auto 4rem;
    font-weight: 600;
    line-height: 1.5;
}
.join_us .txt_area02 .apply_btn{
    display: inline-block;
    padding: 0 50px;
    background: #000;
    text-align: center;
    margin: 0 auto;
    color:#fff;
    line-height: 55px;
    font-size: 0.9rem;
    font-weight: 600;
    transition:.3s;
}
.join_us .txt_area02 .apply_btn:hover{
    background: #fff;
    color:#000;
}
.fin_vis{                           
    background-image:url(http://img.lush.co.kr/product/aticle_naked.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; height: 70vh;
    text-indent: -9999px;
}
.footer{
    background: #000;
    color:#fff;
    padding: 3rem 7rem;
}
.footer .footer_top{padding-bottom: 200px;}

.footer .footer_top h2 a{
    display: block;
    width: 100%;
    font-size: 2.15rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer .footer_top .sns_list{float: left;}
.footer .footer_top .contact_nav{float: right;}
.footer .footer_top ul li{
    float: left;
    margin-right: 40px;
}
.footer .footer_top ul li:last-child{margin-right:0;}
.footer .footer_top ul li a{
    display: block;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.footer .footer_bottom .left_area{
    float: left;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 500;
}
.footer .footer_bottom .right_area{
    float: right;
    padding-top: 40px;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 500;
    color:rgba(255,255,255,.6);
}